<!DOCTYPE html>
<html>
<head>
  <title>Wedloom - About</title>
</head>

<body>
  <!-- This file lives in public/404.html -->
  <div class="dialog">
  
    <center><h1>Our Team:</h1></center>
     <hr size="8">
    <center><%= image_tag("team.png", :alighn => "center") %></center>
    <hr size="8">

   
        </div>
    <br>
  </div>
</body>
</html>
