<!DOCTYPE html>
<html>
<head>
  <title>Wedloom - About</title>
</head>

<body>
  <!-- This file lives in public/404.html -->
  <div class="dialog">
    <h1>Our Team:</h1>
    <%= image_tag("team.png", :alighn => "center") %>

    <h1>Why We're Here:</h1>
    <p>Your wedding is the time of your life. We're here to help make the planning process easier and more enjoyable by helping you find where to begin and providing tools to guide you through the process.
    </p>
    <br>
  </div>
</body>
</html>
