.dialog
  %center
    %h1 Our Team:
    = image_tag("team.png", :align => "center")   
%br
%center
  %h2 Planning a wedding can be overwhelming. Where do you even start? We are here to help. Wedloom is dedicated to providing people a way to get inspiration with context to their budget.
%br
%br
