<!DOCTYPE html>
<html>
<head>
  <title>Wedloom - About</title>
</head>

<body>
  <!-- This file lives in public/404.html -->
  <div class="dialog">
  
    <center><h1>Our Team:</h1></center>
     <hr size="8">
    <center><%= image_tag("team.png", :align => "center") %></center>
    

   
        </div>
    <br>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br><br>
  <br>
  <br>
  <br>
  <br>
  <hr>
</body>
</html>
