<!DOCTYPE html>
<html>
<head>
  <title>Wedloom - About</title>
</head>

<body>
  <!-- This file lives in public/404.html -->
  <div class="dialog">
    <h1>Our Team:</h1>
    <%= image_tag("team.png", :alighn => "center") %>

    <h1>Our Vision:</h1>

          <div class="span4">
          <%= image_tag("canvas.jpg") %>
          <h2>Canvas</h2>
          <p>See everything in one place with the Wedloom Canvas. Compare your options side by side and make important decisions with ease. </p>
        </div>
        <div class="span4">
          <%= image_tag("collaborate.jpg") %>
          <h2>Collaborate</h2>
          <p>Delegate tasks to your friends and family. Get tailored advice and recommendations from other couples who have planned weddings like yours.</p>
        </div>
        <div class="span4">
          <%= image_tag("create.jpg") %>
          <h2>Create</h2>
          <p>Turn your vision into reality with smart project management tools for every aspect of your wedding. Manage your budget and see all outstanding tasks in one place.</p>
        </div>
    <br>
  </div>
</body>
</html>
