%center
	%h1 Budget Packages
%hr
.row-fluid
	.span1
	.span10
		%h4
			Weddings are expensive, and little things often add up without you realizing it. We know dozens of clever ways to help you reduce your overall wedding cost. Did you know that having your wedding on a day other than Saturday can save you 10%? That having your reception in the afternoon instead of the evening can save you $6,000? With many helpful hints like these, as well as smart negotiating tips, we can help you stay within your desired budget. 


		.well
			%h2
				Help me create a budget plan
			%p
				Let us help you create a customized budget from scratch based on your goals. Your Wedloom coach will speak to you to learn about your priorities and spending goals, and will then work with you to optimize your spending so you get the best wedding you can afford. Once your budget plan is set, you can work with your wedding coach to refine it throughout the planning process using our collaborative budget tool. 
			%center
				= link_to "Select Package", "#", :class => 'btn btn-large btn-info'

		.well
			%h2 
				Review my existing budget plan
			%p
				Already have a budget plan in place but want to find some ways to cut costs? One of our wedding coaches will work with you to find ways to save money, or help you reallocate your spending across categories based on what’s really important to you. 
			%center
				= link_to "Select Package", "#", :class => 'btn btn-large btn-info'