.container
	.when.padd
	%br
	%br
	%br
	%br
	%br
		%center
			%h2 When is it?
			%select
				%option Weekend
				%option Weekday
		.where.padd
		%center
			%h2 What's your budget, roughly?
			%input{:type => "text", :placeholder => "(Optional)"}
		%center
		.roughnum
		%center	
			%h2 About how many guests?
			%input{:type => "text", :placeholder => "# of Guests"}
	%a
		%center
			= link_to 'Next »', user_path(1), :class => "btn btn-primary btn-large"
	%br
	%br
	%br
	%br
	%br
	%br
	%br
	%br
	%hr

