.container
	.when.padd
		%h2 When is it?
		%select
			%option Spring
			%option Summer
			%option Fall
			%option Winter
	.where.padd
		%h2 Where is it?
		%input{:type => "text", :placeholder => "Enter your Zip Code"}
	.roughnum
		%h2 About how many guests would be there?
		%input{:type => "text", :placeholder => "Enter your Zip Code"}
	%a{:class => 'btn btn-primary btn-large'}
		Next »				

