.container
	.when.padd
	%br
	%br
	%br
	%br
	%br
		%center
			%h2 When is it?
			%select
				%option Spring
				%option Summer
				%option Fall
				%option Winter
		.where.padd
		%center
			%h2 Where is it?
			%input{:type => "text", :placeholder => "Enter your Zip Code"}
		%center
		.roughnum
		%center	
			%h2 How many guests?
			%input{:type => "text", :placeholder => "# of Guests"}
	%a
		%center
			= link_to 'Next »', user_path(1), :class => "btn btn-primary btn-large"
	%br
	%br
	%br
	%br
	%br
	%br
	%br
	%br
	%hr

