.container
	.when.padd
		%center
			%h2 When is it?
			%select
				%option Spring
				%option Summer
				%option Fall
				%option Winter
		.where.padd
		%center
			%h2 Where is it?
			%input{:type => "text", :placeholder => "Enter your Zip Code"}
		%center
		.roughnum
		%center	
			%h2 About how many guests will be there?
			%input{:type => "text", :placeholder => "# of Guests"}
	%a
		%center
			= link_to 'Next »', canvas_path, :class => "btn btn-primary btn-large"

