%center
	%h1 What We Offer
	%h4 Wedloom's wedding coaches can help you save time, reduce stress and make smart choices that save you money. Here are some specific areas they can help you with. 
%hr

.row-fluid
	.span2.well.option#option1
		%p Vendor Recommendations
	.span2.well.option#option2
		%p Pricing and Availability
	.span2.well.option#option3
		%p Contract Review
	.span2.well.option#option4
		%p Actionable Inspiration
	.span2.well.option#option5
		%p Budget Guidance	
	.span2.well.option#option6
		%p Timline Planning

.row-fluid
	.span12.well#explanation
		Test here
			

:css
	.option:hover {
		background-color: #fff;
		-moz-box-shadow: 0 0 12px 3px #b0b2ab;
		-webkit-box-shadow: 0 0 12px 3px #b0b2ab;
		box-shadow: 0 0 12px 3px #b0b2ab;
	}

Kristen worked with Wedloom to plan her wedding in 6 months in Chicago.  She knew what she wanted stylistically, but because of the short time-frame she had to plan, she used Wedloom's expert planners to: 

Stay on track:  Kristen worked with Carlene to create a timeline personalized for her wedding date and met with Carlene to make sure everything was ready for the big day!
Find vendors: Given Kristen was planning a wedding in Chicago where some vendors book up over a year in advance, she worked with Carlene to find the perfect spot for her wedding. 
Ask specific questions: Kristen was the first in her family of 3 sisters to plan her wedding, so she had many questions typical of a first-time bride that Carlene was able to provide guidance every step of the way!
Estimated Cost: $750


Vendor pricing estimates & detailed quote help (pricetag icon)
Wedloom coaches know how much every piece should cost, from venues to photographers. We can help you save time by giving you up-front pricing estimates, as well as detailed price quotes on Chicago area venues in a comparable format - something vendors don’t provide on their websites. 

Personalized Vendor Recommendations (housesearch icon)
Wedloom coaches can provide personalized recommendations for venues, photographers, caterers and florists in the Chicago area based off your style and budget. We’ve worked with dozens of vendors and can give you advice you can’t find on Yelp.

Contract review (document icon)
Have a venue selected already? Wedloom will help with you review your contract to make sure you didn’t miss anything important and are getting the best possible deal. 

Actionable Inspiration (lightbulb icon)
High quality pictures of real weddings in Chicago can help you figure out which venues, invitations, floral arrangements are a good match for you. 

Budget guidance (moneybag icon)
We can help you make smart tradeoffs that keep you within your budget goals, keep you on track through a collaborative budget tracker, and help you find smart ways to cut costs.

Create a plan & stay on track (checklist icon)
Boilerplate wedding timeline and to do lists are easy to find, but can only go so far. We can help you build a detailed timeline and to do list that is specifically tailored to your wedding plans, and can follow up with you to keep you on track.

Answer your specific wedding questions (questionmark icon)
Have one-off questions that would benefit from an expert? Our wedding coaches have seen it all, and can help answer any questions you have via online video chat. 