<!DOCTYPE HTML>
<html>
<head>
    <title>Front Row Responsive One page Theme With Video Support</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Front Row Responsive One page Theme With Video Support built by Harkable.com">
    <meta name="author" content="harkable.com">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="assets/js/jquery-1.7.2.min.js"><\/script>')</script>
    <script src="assets/js/jquery-ui-1.8.22.custom.min.js"></script>
    <script src="assets/js/jquery.imagesloaded.min.js"></script>
    <script src="assets/js/video.js"></script>
    <script src="assets/js/modernizr-2.5.3.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:200' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/bigvideo.js"></script>
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/bootstrap-responsive.min.css" rel="stylesheet">
    
</head>

<body>

  
    <!-- #intro -->
  <div class="main-container">
    <div class="container-fluid" id="intro">
      <div class="container">
        <div class="row about">
                <div class = "span">
                    <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <h2 id="shadow"><p align="left"> Expert wedding help
                    <br> at a price you can afford.
                  </p>
                  </h2>
                </div>
           </div>
       </div>
    </div>


    <!-- ends Intro -->

         <!-- #COPY OF About -->
<div class="container-fluid" id="slogan">
    <div class="container light">
      <h1>Let us help you plan the wedding of your dreams.</h1>
      <center><a href="#" class="scroller" data-section="#whatweoffer"><img alt="" src="assets/downarrow.svg" width="3%"></img></a></center>
           <br>
      <br>


    </div>
</div>


<div class="container-fluid" id="whatweoffer">
    <div class="container light">
      <!-- <h1>What does wedloom offer?</h1> -->



    <center><h1>Wedloom offers many of the key benefits of a wedding planner at a far lower cost.</h1></center>

      <center>
        <div class="container">
          <div class="span8" id="centering">

          <table class="table table-bordered" id ="whitetable" >
            <thead>
              <tr>
                <th id="tabletitle">Do It Yourself Planning</th>
                <th id="tabletitle">Wedloom Planning</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Sorting through thousands of websites <!-- for vendors --></td>
                <td>Curated recommendations based on your <!-- style and budget --></td>
              </tr>
              <tr>
                <td><!-- Feeling frustrated because you  -->Don't know where to start</td>
                <td>A personal timeline and to-dos <!-- to guides you through the process --></td>
              </tr>
              <tr>
                <td>Uncertainty of setting a budget</td>
                <td>Our experts will make a budget and keep you to it</td>
              </tr>
              <tr>
                <td class="ds-editable-active">Asking everyone you for advice</td>
                <td>Trusted advice from an experienced planner&nbsp;</td>
              </tr>

            </tbody>
          </table>
          </div>
        </div>
      </center>

    <center><a href="#" class="scroller" data-section="#howitworks"><img alt="" src="assets/downarrow.svg" width="3%"></img></a></center>
  </div>

  <br>

</div>

<div class="container-fluid" id="howitworks">
  <div class="container dark">
    <h1>How does it work?</h1>
      <!-- <div class="row">
      <div class="span4"> -->

      <div class="row">
          <div class="span4"> <img alt="" src="assets/inspiration.png">
            <h3><br>Select images and answer questions to create your profile </h3></div>
          <div class="span4"> <br><br><br><br><center><img alt="" src="assets/rightarrow.svg"></center></div>
          <div class="span4"><img alt="" src="assets/carlene.png"></img>
            <h3>Connect with a Wedloom expert planner via video chat to help you plan</h3></div>
      </div>



      <center><a href="#" class="scroller" data-section="#pricing"><img alt="" src="assets/downarrow.svg" width="3%"></img></a></center>
    </div>




  </div>


<div class="container-fluid" id="pricing">
  <div class="container dark">
    <h1>Pricing packages</h1>
      <ul class="thumbnailsright">
        <li class="span3">
          <div class="thumbnail">
          </div>
        </li>
      </ul>

      <center><h3>Get to know your planner with a compimentary 15 min appointment</h3></center>
   </div>

<style>
.pricing-table .plan {
  border-radius: 5px;
  text-align: center;
  background-color: #f3f3f3;
  -moz-box-shadow: 0 0 6px 2px #b0b2ab;
  -webkit-box-shadow: 0 0 6px 2px #b0b2ab;
  box-shadow: 0 0 6px 2px #b0b2ab;
}

 .plan:hover {
  background-color: #fff;
  -moz-box-shadow: 0 0 12px 3px #b0b2ab;
  -webkit-box-shadow: 0 0 12px 3px #b0b2ab;
  box-shadow: 0 0 12px 3px #b0b2ab;
}

 .plan {
  padding: 20px;
  color: #ff;
  background-color: #5e5f59;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}

.plan-name-silver {
  padding: 20px;
  color: #fff;
  background-color: #757575;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
 }

.plan-name-platinum {
  padding: 20px;
  color: #fff;
  background-color: #C0C0C0;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
 }

.plan-name-gold {
  padding: 20px;
  color: #fff;
  background-color: #d9bb24;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  }

.pricing-table-bronze  {
  padding: 20px;
  color: #fff;
  background-color: #f89406;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}

.pricing-table .plan .plan-name span {
  font-size: 20px;
}

.pricing-table .plan ul {
  list-style: none;
  margin: 0;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}

.pricing-table .plan ul li.plan-feature {
  padding: 15px 10px;
  border-top: 1px solid #c5c8c0;
}

.pricing-three-column {
  margin: 0 auto;
  width: 80%;
}

.pricing-variable-height .plan {
  float: none;
  margin-left: 2%;
  vertical-align: bottom;
  display: inline-block;
  zoom:1;
  *display:inline;
}

.plan-mouseover .plan-name {
  background-color: #4e9a06 !important;
}

.btn-plan-select {
  padding: 8px 25px;
  font-size: 18px;
}
</style>


      <div class="row-fluid pricing-table pricing-three-column">
        <div class="span4 plan">
          <div class="plan-name-silver">
            <h2>Silver</h2>
            <span><h2>$60</h2></span>
          </div>
          <ul>
            <li class="plan-feature">One Hour Consultation</li>
            <li class="plan-feature">Basic Timeline</li>
            <li class="plan-feature">Basic Vendor Recommendations </li>
            <li class="plan-feature">         </li>
            <li class="plan-feature">         </li>
            <li class="plan-feature">         </li>

            <!-- <li class="plan-feature"><a href="#" class="btn btn-primary btn-plan-select"><i class="icon-white icon-ok"></i> Select</a></li> -->
          </ul>
        </div>
        <div class="span4 plan">
          <div class="plan-name-gold">
            <h2>Gold</h2>
            <span><h2>$170</h2></span>
          </div>
          <ul>
            <li class="plan-feature">3 One Hour Consultations</li>
            <li class="plan-feature">Detailed Timeline</li>
            <li class="plan-feature">Extensive Vendor Recommendations</li>
            <li class="plan-feature">Detailed Budget</li>
            <li class="plan-feature"></li>
            <!-- <li class="plan-feature"><a href="#" class="btn btn-primary btn-plan-select"><i class="icon-white icon-ok"></i> Select</a></li> -->
          </ul>
        </div>
        <div class="span4 plan">
          <div class="plan-name-platinum">
            <h2>Platinum</h2>
            <span><h2>$330</h2></span>
          </div>
          <ul>
            <li class="plan-feature">6 One Hour Consultations</li>
            <li class="plan-feature">Detailed Timeline</li>
            <li class="plan-feature">Extensive Vendor Recommendations</li>
            <li class="plan-feature">Detailed Budget</li>
            <li class="plan-feature">Email Support</li>
            <!-- <li class="plan-feature"><a href="#" class="btn btn-primary btn-plan-select"><i class="icon-white icon-ok"></i> Select</a></li> -->
          </ul>
        </div>
      </div>
  </div>
</div>



</div>  -->  <!-- End Contact -->
  </div>
<script>
$(function () {
    $(window).scroll(function(){
    // global scroll to top button
        if ($(this).scrollTop() > 300) {
            $('.scrolltop').fadeIn();
        } else {
            $('.scrolltop').fadeOut();
        }
    });

    // scroll nav
    $('.scroller').click(function(){
      var section = $($(this).data("section"));
      var top = section.offset().top-82;
        $("html, body").animate({ scrollTop: top }, 700);
        return false;
    });


    // For the purpose of the demo this allows you to toggle the background between video and img
    $('.toggle_video').click(function(){

     $('#big-video-wrap').fadeToggle();
     return false;

    });

  // BigVideo Setup
    var BV = new $.BigVideo({useFlashForFirefox:false});
  BV.init();
    if (Modernizr.touch) {
      // fallback image for mobile devices
        BV.show('assets/img/couple3.jpg');
    }


});
</script>
</body>
</html>
