<!DOCTYPE html>
	<head>
<link href='http://fonts.googleapis.com/css?family=Raleway:100,200' rel='stylesheet' type='text/css'>

  </head>

	<body>
   
      <%= image_tag("couple3.jpg", :width => "100%") %>
      

      <div class="span12">
      </br>
        <center><h1> The wedding of your dreams, within reach. </h1></center>
</br>
 
    <center><%= button_to 'Get Started!', budget_path, :class => 'btn btn-large btn-primary' %></center>
  
      <!--  <center><h3>Recently engaged? Congrats! Wedloom will help you figure out one of the hardest parts of planning a wedding: the budget. Browse through different options and their estimated price ranges so you can better understand the tradeoffs to stay within your budget.</h3></center> -->
      
        </body>
        <center><%= image_tag("threeicons3.png", :width => "100%") %></center>
        <hr>



   <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38554213-1']);
  _gaq.push(['_setDomainName', 'wedloom.com']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
     
  </html>