<!DOCTYPE html>
	<head></head>

	<body>
      <%= image_tag("couple.jpg", :width => "100%") %>

      <!-- Three columns of text below the carousel -->
          <h2>Canvas</h2>
          <p>See everything in one place with the Wedloom Canvas. Compare your options side by side and make important decisions with ease. </p>
          <h2>Collaborate</h2>
          <p>Delegate tasks to your friends and family. Get tailored advice and recommendations from other couples who have planned weddings like yours.</p>

        </div><!-- /.span4 -->
        <div class="span4">
          <h2>Create</h2>
          <p>Turn your vision into reality with smart project management tools for every aspect of your wedding. Manage your budget and see all outstanding tasks in one place.</p>

        </div><!-- /.span4 -->




	<div class="featurette">
        <h2 class="featurette-heading">Watch our video </h2>

      <iframe src="http://player.vimeo.com/video/54167715?title=0&amp;byline=0&amp;portrait=0&amp;badge=0" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

      <br>
      <br>
      <a class="featurette-heading" href="about">About Us</a>
      </div>

    </br>
    </br>

      <div style= "padding-left: 250px;" id="wufoo-z7x3p9">
        <p align="center">
          Fill out my <a href="http://wedloom.wufoo.com/forms/z7x3p9">online form</a>.
          </div>
          <script type="text/javascript">var z7x3p9;(function(d, t) {
          var s = d.createElement(t), options = {
          'userName':'wedloom', 
          'formHash':'z7x3p9', 
          'autoResize':true,
          'height':'1034',
          'async':true,
          'header':'show'};
          s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
          s.onload = s.onreadystatechange = function() {
          var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
          try { z7x3p9 = new WufooForm();z7x3p9.initialize(options);z7x3p9.display(); } catch (e) {}};
          var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
          })(document, 'script');</script>
        </p>

      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2013 Wedloom, Inc.    &middot;    Email us at wedloom@gmail.com.  </p>
      </footer>

        </body>
  </html>