<!DOCTYPE html>
	<head>
<link href='http://fonts.googleapis.com/css?family=Raleway:100,200' rel='stylesheet' type='text/css'>

  </head>

	<body>
   
      <%= image_tag("couple3.jpg", :width => "100%") %>
      

      <div class="span12">
      </br>
        <center><h1> The wedding of your dreams, within reach. </h1></center>
</br>
 
    <center><%= button_to 'Get Started!', budget_path, :class => 'btn btn-large btn-primary' %></center>
  
       <center><h3>Recently engaged? Congrats! Wedloom will help you figure out one of the hardest parts of planning a wedding: the budget. Browse through different options and their estimated price ranges so you can better understand the tradeoffs to stay within your budget.</h3></center>
      
        </body>
        <br>
        <br>
        <br>
        <hr>
  </html>