<!DOCTYPE html>
	<head>
    <style>
      
      body {background-image:url("barn.jpg");}

    </style>

  </head>

	<body>
   
      <%= image_tag("couple2.jpg", :width => "100%") %>
      

      <div class="span12">
      </br>
        <center><h1> The wedding of your dreams, within reach. </h1></center>
</br>
<center><a class="btn btn-large btn-primary" href="#">Get Started</a></center>
    </br></br>
    </br></br>
    </br></br>
    </br>
       <center><h4>Recently engaged? Congrats! Wedloom will help you figure out one of the hardest parts of planning a wedding: the budget. Browse through different options and their estimated price ranges so you can better understand the tradeoffs to stay within your budget.</h4></center>

   

    </br>
    </br>
   </br></br>
    </br></br>
    </br></br>
    </br>
      

      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2013 Wedloom, Inc.    &middot;    Email us at wedloom@gmail.com.  </p>
      </footer>

        </body>
  </html>