<!-- hard code user for now: -->
<% user = User.find(1) %>
<!-- Get elements from database: -->
<% elements = Venue.all %>

  <div id="container">
        <% elements.each do |element|  %>
          <div style="margin: 5px; width: 300px;">
            <%= link_to(image_tag(element.image), add_path(:id => element.id), :method => :put, :remote => true) %>
          </div>
        <% end %>
  </div>

  <!-- Once the page is loaded, initalize the plug-in. -->
  <script type="text/javascript">
    $(document).ready(function() {
      $('#container').freetile({
        animate: true,
        elementDelay: 30
      });

      $("#container a").hover(
  function () {
    $(this).append($("<span> Add to Your Loom</span>"));
  },
  function () {
    $(this).find("span:last").remove();
  }
);
    });
  </script>
  
</body>
</html>
