<!-- hard code user for now: -->


<!-- Get elements from database: -->
<% user = User.find(1) %>
<% elements = Venue.all %>

  <div id="container">
        <% elements.each do |element|  %>
          <div style="margin: 5px; width: 300px;">
            <%= link_to(image_tag(element.image), user_path(user, "user[venue]" => element.id), :method => :put, :remote => :true) %>
          </div>
        <% end %>
  </div>

  <!-- Once the page is loaded, initalize the plug-in. -->
  <script type="text/javascript">
    $(document).ready(function() {
      $('#container').freetile({
        animate: true,
        elementDelay: 30
      });
    });
  </script>
  
</body>
</html>
