%center
	%h1 
		Your
		= image_tag("logo.jpg", :width => "190px")
		Planner:
	%br
.span6
	%center
		%h1 Carlene
		%br
		= image_tag("carlene.jpg")
.span6
	%center
		%br
		%br
		%br
		%br
		%br
		%h4 Carlene has been involved in the wedding industry for over five years, and has always loved the details and art of planning. Her passion for details landed her a job at a prestigious wedding photography studio in Michigan. Carlene’s role as the studio’s day-of coordinator, bride de-stressor, and event assistant extraordinaire introduced her to another love: weddings! After earning her degree in advertising, assisting companies in implementing green policies, and moving to Chicago, Carlene combined her passions and formed her own company, Naturally Yours Events.
		%br
		= link_to 'Schedule a Consultation', "#", :class => "btn btn-primary btn-large"
