<!DOCTYPE html>

  <head>

    <link type="text/css" rel="stylesheet" href="static_pages.css"/>

    <meta name="description" content="Wedloom will help guide you through the wedding planning process with its online tools and online consultations with a real wedding planner"> <meta charset="UTF-8">
    <link href='http://fonts.googleapis.com/css?family=Raleway:200' rel='stylesheet' type='text/css'>
    <script src="//cdn.optimizely.com/js/214010495.js"></script>
  </head>

  <body>
      <center>
      <%= image_tag("Keren_Serai_Key2.png", :width => "60%") %>


          <!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
<form action="http://wedloom.us4.list-manage1.com/subscribe/post?u=e09ff6f87d16b80430dc8d46f&amp;id=656d26bfb1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
<label for="mce-EMAIL">  
  <h2>We are still developing the site, and will keep you posted on our progress. <br> Enter your email if you're interested in becoming a beta tester.</h2></label>
  <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
  <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</form>
</div>
</center>
<!--End mc_embed_signup-->




   <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38554213-1']);
  _gaq.push(['_setDomainName', 'wedloom.com']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();



</script>

  </html>
