%center
	%h1 Timeline Packages
%hr
.row-fluid
	.span1
	.span10
		%h4
			Planning a wedding involves dozens of moving pieces that all have to work in sync. Making this happen on your own is very challenging. Our experts can work with you to help you create a personalized timeline and to do list, and will help you stay on track.


		.well
			%h3
				Comprehensive Planning Package
			%p
				We’ll help you create a customized timeline and to do list so you know what you need to do and when you need to have it done by. These tools will be tailored to your specific wedding goals. In addition to helping you construct an initial plan, your Wedloom coach will work with you throughout the planning process to keep you on track. 
			%center
				= link_to "Select Package", "#", :class => 'btn btn-large btn-info'

		.well
			%h3
				Timeline Check-in
			%p
				Have you already made a timeline/to do list and just want some help in checking it over? Our wedding coaches can tell you whether your expectations are realistic, ensure you aren’t forgetting any major pieces, and give you ideas of things you might want to add or remove in order to reach your goals.
			%center
				= link_to "Select Package", "#", :class => 'btn btn-large btn-info'
	.span1
