%center
	%h1 Vendor Packages
%hr

.row-fluid
	.span1
	.span10
		%h4
			Zeroing in on the perfect wedding venue can easily become overwhelming and time consuming, especially if you’re planning in a new city. Pricing and availability are hard to find, and even harder to compare across venues. Once you have a venue chosen, you still need to figure out a caterer, photographer, florist, band, etc..  The list can often seem endless. 

		.well
			%h2
				Wedloom Vendor Package
			%p
				Wedloom can help you with all aspects of finding the perfect venue, caterer, photographer, etc., for you based on your wedding goals. We will take the time to learn about your style and priorities, and then provide you with curated recommendations based off what we know about you. Your wedding coach will help you gather pricing and availability information in an easily-comparable format, and even help you review your contracts. 
			%center
				= link_to "Select Package", "#", :class => 'btn btn-large btn-info'