%div{ style: "margin: 5px; width: 300px;"}
  %span.roll
    %center
      %br
      = link_to "Add to Loom", add_element_path(:id => element.id), :method => :put, :remote => true, "data-toggle" => "modal", 'data-target' => '#myModal', :class => "btn btn-info addtoloom"
      %br
      %br
      - if element.category == "Venue"
        = link_to "More Info", element_path(:id => element.id), :class => "btn btn-info"
  = image_tag(element.image)
