%center
  %h1 
    Our Planners
  %hr

  - @planners.each do |planner|
    %h1
      = planner.name
    %h3
      = planner.description
    = image_tag planner.photo if planner.photo?
    = link_to 'Schedule a Free Consultation', schedule_appointment_path(id: planner.id), :class => "btn btn-primary btn-large"
    =link_to("More Info", profile_path(:id => planner.id), :class => "btn btn-large btn-primary")
