%center
	%h1 
		- if @planner.name?
			= @planner.name
			's Profile
		- else
			My Profile
	%hr

	.alert.alert-info
		%button.close{"data-dismiss" => "alert", :type => "button"} ×
		%strong Welcome!
		This is the dashboard for Wedloom planners. Complete your profile here and your information will be displayed to customers on the Planners page.

	%h4
		= @planner.description

	= image_tag @planner.photo if @planner.photo?
	%br
	%br

	=link_to("Website", @planner.website, :class => "btn btn-large btn-primary", :target => '_blank') if @planner.website?
	%br
	%br
	=link_to 'Edit Profile', edit_planner_path(@planner), :class => "btn btn-primary btn-large"