td img{
	max-width:400px;
	max-height:200px;
	
}

table, td {
	border: 5px white solid;
	margin-left: auto;
    margin-right: auto;
}

.budget{

max-width:1000px ;
text-align:left;
padding:5px;
}
/*	display: block;
	margin-left: auto;
	margin-right:auto;
	padding: 6px 3px 6px 23px;
*/


*{ font-family: 'Raleway', sans-serif; }
/*h1 { font-family: 'Raleway', sans-serif; }
li {font-family: 'Raleway', sans-serif;}*/

